*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #FF0266;
  color: dodgerblue;
}

main{
  width: 300px;
  margin: 50px auto 0;
  padding: 100px 0;
}

div.board{
  display: grid;
  border: 2px solid #fff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.app-square{
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;  
  cursor: pointer;
}

.result{
  font-size: 2rem;
  padding: 10px;
}
.result.green{
  background-color: #5a5;
  font-size: 18px;
  margin-top: 25px;
}
.result.red{
  background-color: rgb(170, 156, 85);
  font-size: 18px;
  margin-top: 25px;
  color: rgb(222, 215, 212);
}

.app-img{
  padding: 20px 25px;
}